<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div>Testing get_user_profile... <span id="get"></span></div>
<div>Testing save... <span id="save"></span></div>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
    var url = "webtest.html";
    var contents = "<html></html>";

    $.ajax({
        url: "/api/get_profile",
        type: 'post',
        'dataType':'json',
//            'fileData': imageData,
        data: {}
    }).success(function (res) {
        console.log("Get_profile finish");
        $('#get').html(JSON.stringify(res));
    });

 /*   $.ajax({
        url: "/api/save",
        type: 'post',
            'dataType':'json',
            data: {
                'url': url,
                'bodyData': contents
            }
    }).success(function (res) {
        console.log("Save finish");
        $('#save').html(JSON.stringify(res));
    });
*/

</script>



</body>
</html>